body {
    overflow-x: hidden;
}

.main {
    position: absolute;
    width: 100%;
    min-height: 100vh;
}

section {
    position: relative;
    min-height: 100vh;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.banner .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner .imgBx {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
}

.banner .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h3 {
    position: relative;
    font-size: 1.4em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #333;
}

p {
    color: #777;
}

.socialMedia {
    position: absolute;
    bottom: 20px;
    display: flex;
}

.socialMedia li {
    list-style: none;
}

.socialMedia li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.05);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
}

.socialMedia li a:hover {
    background: #333;
    color: #fff;
}

.adjust {
    position: relative;
    min-height: 100vh;
    padding: 0 40px;
    padding-top: 80px;
    display: inline-block;
}

.title {
    width: 100%;
    text-align: center;
}

.title h2 {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.title h2::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 50px;
    height: 1px;
    background: #333;
}

.about .content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.about .content .textBox {
    width: 49%;
    min-width: 49%;
}

.about .content .imgBx {
    margin-left: 40px;
}

.about .content .imgBx img {
    max-width: 100%;
}

.blog .content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: 40px 0;
}

.blog .content .blogPost {
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    color: #333;
}

.blog .content .blogPost img {
    max-width: 50px;
}

.blog .content .blogPost h2 {
    font-size: 1.1em;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: left;
    letter-spacing: 2px;
}

.contact {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

.contact .contactForm {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin-top: 20px;
}

.contact .contactForm .row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0;
    margin-top: 20px;
}

.contact .contactForm .row2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.contact .contactForm .row input, .contact .contactForm .row2 textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.contact .contactForm .row2 textarea {
    resize: none;
    height: 200px;
}

.contact .contactForm .row2 input[type="submit"] {
    background: #333;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    max-width: 150px;
    border: none;
}

/* Order */
.order {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

.order .orderForm {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin-top: 20px;
}

.order .orderForm .row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0;
    margin-top: 20px;
}

.order .orderForm .row2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.order .orderForm .row3 {
    width: 100%;
    margin-top: 20px;
}

.order .orderForm .row input,
.order .orderForm .row2 input,
.order .orderForm .row3 input:not(input[class="form-check-input"]),
.order .orderForm .row2 textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.order .orderForm .row2 textarea {
    resize: none;
    height: 200px;
}

.order .orderForm .row2 input[type="submit"] {
    background: #333;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    max-width: 150px;
    border: none;
    text-align: center;
}

.copyright {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media (max-width: 992px) {
    .banner .imgBx {
        width: 250px;
        height: 250px;
    }

    .banner h3, .banner p {
        text-align: center;
    }

    .adjust {
        padding: 0 20px;
        padding-top: 80px;
    }

    .about .content {
        flex-direction: column;
    }

    .about .content .textBox {
        width: 100%;
        min-width: 100%;
    }

    .about .content .imgBx {
        margin-left: 0;
        margin-top: 20px;
    }

    .blog .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .blog .content {
        grid-template-columns: repeat(1, 1fr);
    }

    .order {
        margin-bottom: 100px;
    }

    .order .orderForm .row {
        grid-template-columns: repeat(1, 1fr);
    }

    .order {
        margin-bottom: 100px;
    }

    .order .orderForm .row {
        grid-template-columns: repeat(1, 1fr);
    }
}