/* Global font */
@font-face {
    font-family: SSP-L;
    src: url("../fonts/SourceSansPro-Light.ttf");
}

h1, h2, h3, h4, p , a{
    font-family: SSP-L;
    font-weight: 100;
    letter-spacing: 0.2em;
}

/* Intro font styling */
header h1, header p{
    font-size: 5vw;
    margin-top: 50px;
    text-align: center;
}

header h1 {
    font-size: 6vw;
}

#aboutme {
    height: 500px;
}

/* Intro box */
#introbox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: white;
    width: 80%;
    height: 70% !important;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Round avatar */
.avt {
    width: 30%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: block;
    margin: 10% auto 0;
    object-fit: cover;
}

/* About me button */
#enter {
    border: solid 1px #c8cccf;
    color: #c8cccf;
    margin: 10% auto auto;
    padding: 10px 30px;
    width: fit-content;
    display: block;

    font-family: SSP-L;
    font-weight: 100;
    font-size: 3.3vw;
    text-align: center;
    letter-spacing: 0.2em;
}

#enter span {
    display: inline-block;
    position: relative;
}

/* Social buttons */
ul {
    padding: 0;
    margin-top: 10%;
}

ul.icons {
    text-align: center;
    cursor: default;
}

ul.icons li {
    display: inline-block;
    padding: 0.675em 0.5em;
}

ul.icons li a {
    position: relative;
    display: block;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: solid 1px #c8cccf;
    line-height: 15vw;
    text-align: center;
    text-indent: 15vw;
}

ul.icons li a {
    color: #ffffff;
    text-shadow: 1.25px 0px 0px #c8cccf, -1.25px 0px 0px #c8cccf,
        0px 1.25px 0px #c8cccf, 0px -1.25px 0px #c8cccf;
}


ul.icons li a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    font-size: 7vw;
    line-height: inherit;
    text-align: center;
    text-indent: 0;
}

/* Navigation bar */
nav {
    overflow-x: unset !important;
    max-width: 100vw;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
    background-color: #ffffff;
}

nav a {
    font-size: 4vw;
    margin: 30px;
    text-decoration: none;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}

/* Section container */
#aboutme {
    display: flex;
    align-items: center;
}
.container {
    padding: 20px 20px 20px;
}

img + p{
    text-align: left;
}

/* Quotes list */
ul {
    list-style-type: none;
}

/* About me image */
#aboutme img {
    display: block;
    width: 30%;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px auto;
}

/* Paragraph text styling */

h1 {
    font-size: 5vw;
}

p {
    font-size: 3.3vw;
}